
:root {
  --green: #87dc04;
  --green-dark: #72c402;
  --git-gray: #24292e;
  --blue-duo: #1cb0f6;
  --blue-duo-dark: #168cc4;
}

@font-face {
  font-family: Roboto;
  src: url("fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: Roboto;
  src: url("fonts/Roboto/Roboto-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: Roboto-Light;
  src: url("fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
  font-family: Roboto-Thin;
  src: url("fonts/Roboto/Roboto-Thin.ttf");
}

@font-face {
  font-family: Dragz;
  src: url("fonts/62DRAGZ.otf");
}

html, body, #content  {
  height: 100%;
  background-color: white;
  margin: 0;
}

html {
  overflow: hidden;
}

body {
  overflow: auto;
}

#content {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    "nav"
    "title"
    "main"
    "footer";
}

#navbar {
  grid-area: nav;
  list-style-type: none;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  overflow-x: scroll;
  display: flex;
}

#navbar li {
  color: var(--git-gray);
  font-family: Roboto;
  height: 100%;
  font-size: 20pt;
  padding: 0 30px 0px 30px;
  display: inline-flex;
}

#navbar .inverted li {
  color: white;
}

.inverted {
  background-color: var(--git-gray);
  border-color: white !important; /* TEMP: do this cleanly */
}

#navbar a:hover {
  padding-bottom: 2px;
  border-bottom-width: 3px;
}

#navbar a {
  color: white;
  padding: 5px 0px 5px 0px;
  text-decoration: none;
  border-bottom: 0px solid var(--git-gray);
  transition: padding-bottom .3s, padding-top .3s, border-bottom-width .3s;
}

#banner {
  grid-area: title;
}

#widgets {
  display: grid;
  padding: 10px 30px 30px 30px;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto;
  grid-gap: 30px 30px;
}

.widget {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 3px solid gainsboro;
  margin: 0;
  border-radius: 20px;
  box-shadow: 5px 5px darkgrey;
  padding: 0;
}

@media screen and (orientation: portrait) {
  #widgets {
    display: flex;
    flex-direction: column;
  }

  .widget {
    margin-bottom: 30px;
  }
}

#footer {
  grid-area: footer;
  text-align: center;
  padding: 15px 0px 10px 0px;
  background-color: var(--git-gray);
  color: white;
  font-family: Roboto;
  font-size: 9pt;
}

h1 {
  text-align: center;
  color: white;
  font-family: Dragz;
  margin: 0;
  font-size: 60pt;
  padding: 10px 0px 20px 0px;
  line-height: 100px;
  background-color: var(--green);
  border-top: 3px solid var(--green-dark);
  border-bottom: 3px solid var(--green-dark);
  user-select: none; /* Standard */
  overflow: hidden;
  animation-name: shadow-in;
  animation-duration: .5s;
  animation-delay: .25s;
  animation-fill-mode: forwards;
}

@keyframes tag-fade {
  from{opacity: 0;}
  to{opacity: 1;}
}

@keyframes tag-fade-rev {
  from{opacity: 1;}
  to{opacity: 0;}
}

@keyframes shadow-in {
  from{text-shadow: 0px 0px black;}
  to{text-shadow: 15px 15px black;}
}

.tagline {
  color: var(--git-gray);
  text-align: center;
  font-family: Roboto-Thin;
  font-size: 20pt;
  display: flex;
  padding: auto;
  justify-content: center;
  animation-name: tag-fade;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

#xp-graph {
  width: 90%;
  margin: 15px;
}

#xp-graph td {
  min-height: 1px;
}

.xp-bar {
  height: 80%;
  width: 0%;
  background-color: var(--blue-duo);
  border: 3px solid var(--blue-duo-dark);
  border-radius: 0 15px 15px 0;
  padding-right: 8px;
  display: inline-block;
  font-family: Roboto;
  font-weight: bold;
  text-align: right;
  font-size: 26pt;
  color: white;
  user-select: none;
  margin-bottom: 4px;
  overflow-x: hidden;
  text-overflow: clip;
  white-space: nowrap;
  opacity: 0;
}

.avi {
  width: 8%;
}

.avi img {
  width: 100%;
  border-radius: 50%;
  opacity: 0;
  animation-name: tag-fade;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

h2 {
  font-family: Roboto;
  font-weight: bold;
  margin: 15px;
}

.tagline span {
  margin: 10px 0px 0px 0px;
  padding: 0;
}

img.duo {
  height: 20pt;
  margin: 15px 0px 0px 7px;
}

img.spinner {
  display: block;
  margin: auto;
}
